# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyBtDmkFeSYEsIQ0NoCL_Mwn_IbioJsz1oY"

# APP_URL: The URL where this applet is hosted.
APP_URL="https://yspanchal6.github.io/portfolio"
